<%= form_for @post do |form| %>
<p>
    <%= form.collection_select :user_id, User.order(:email),:id,:email, include_blank: true %>
</p>
<p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
</p>

<p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
</p>

<p>
    <%= form.submit %>
</p>
<p class="flash"><% @post.errors.messages.values.each do |msg|%>
<p><%= msg.first %></p>
<% end %>
</p>
<% end %>